* {
  box-sizing: border-box;
}

.accordionWrapper {
  width: 500px;
}

.accordion {
  background: #237e23;
}

.accordionHeader {
  display: flex;
  align-items: center;
}

.headerTitle {
  width: 100%;
  text-align: center;
}

.headerIcon {
  padding: 1rem;
  background: #656565;
}

.accordionBody {
  background: #888585;
  display: block;
  height: 0;
  padding: 0;
  text-align: center;
  transition: height 1s linear;
  overflow: hidden;
}

.content {
  padding: 0.5rem 1.5rem;
}

.active {
  display: block;
  height: 100px;
}
